<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .content {
            width: 200px;
            height: 100px;
            background-color: red;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="number" v-model="w" step="5">
        <input type="number" v-model="h" step="5">
        <div class="content" :style="{width:w+'px',height:h+'px'}"></div>
    </div>


    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                w: 200,
                h: 100
            },
            methods: {

            },
        })
    </script>
</body>

</html>
